<br><br>

<div class="container">
<label for="" >Username: </label>
<input type="text" [(ngModel)]="username"  name="" id="" required placeholder="Enter Username"> <br><br>
<label for="">Password: </label>
<input type="text" [(ngModel)]="password" name="" id="" required placeholder="Enter Password"> <br><br>
<button  (click)="showLogin()" mat-raised-button color="primary">Login</button>
</div>


<!-- <div *ngIf="isLogin==1">
  
<app-dashboard></app-dashboard>

</div> -->
<!-- <router-outlet></router-outlet> -->